.card {
    box-shadow: #333 0px 2px -2px 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: whitesmoke;
    
    min-width: 250px;
    min-height: min-content;

    color: #222;
}

.card-title{
    display: flex;
    justify-content: space-between;
}